@font-face {
  font-family: "furore";
  src: url("furore-webfont.woff2") format("woff2"),
    url("furore-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
}
/*Css reset*/
a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: ease-in 0.5s;
}
a:hover{
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
li {
  text-decoration: none;
  margin-right: 20px;
  padding-top: 10px;
  display: flex;
  float: right;
}
/* Bambang */
h1,
h2,
h3,
h4,
h5,
h6,span {
  font-family: "furore", sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 0;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 40px;
}
span{
  font-size: 14px;
}
.container {
  padding: 0 60px;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: row-reverse;
}
.justify-between{
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.text-right {
  justify-content: flex-end;
}
.content-left {
  flex: 1;
}
.content-left p {
  max-width: 70vh;
}
.content-left h1 {
  font-size: 60px;
}
.content-right {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-content: center;
}
.rocket {
  background-color: #e8e8e8;
  padding: 20px 0;
  height: 150vh;
}
.title-rocket {
  margin-top: 32px;
  margin-bottom: 72px;
}
.title-mission {
  margin-top: 32px;
  margin-bottom: 72px;
}
.rocket-right{
  margin-left: 120px;
}
/*Giri Diwa adam*/
.navbar-nav {
  height: 65px;
  justify-content: space-between;
  display: flex;
}
.navbar {
  background-color: #333;
}
.brand {
  display: flex;
  align-content: center;
}
.navbar-nav li {
  text-decoration: none;
  float: right;
}
.navbar-nav a {
  margin-right: 0 10px;
}
.logo {
  margin-right: 12px;
}
.hero {
  height: 100vh;
  background-image: url("../image/hero.jpg");
  background-size: cover;
}
.title-hero {
  color: #fff;
  text-align: center;
  padding-top: 90px;
  font-size: 72px;
  line-height: 130px;
  letter-spacing: 24px;
}
h1.title-right {
  margin-top: 20px;
}
h1.title-right{
  color:#fff;
}
.btn{
  background:#fff;
  line-height:0px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size:20px;
  padding: 32px 48px;
  color:#333;
  font-family: "furore", sans-serif;
  transition: ease 0.5s;
}
.btn:hover{
  transform: translate(0px,10px);
  padding-bottom: 48px;
  border-bottom: 1px solid white;
}
.btn-wrapper{
  padding-top:90px;
  margin-top:60px;
}
/*???*/
.footer {
  font-family: "furore", sans-serif;
}
.footer-list li {
  float: left;
}

/* Hani */
.mission {
  background-image: url("../image/hero2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 24px 0;
  color: white;
}
.li-block{
  display: block;
}
.footer-list a,.footer-list h2{
  color: #D44816 !important;
}
.footer-header {
  background-color: #D44816 !important;
}
.text-white{
  color: white;
}
.py-8{
  padding: 12px 0;
}
.mx-24{
  margin: 0 24px;
}
#footer{
  height: 50vh;
}
.p-mission{
  width: 100vh;
}
/* Media Screen */
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 8px;
  }
  .hidden {
    display: none;
  }
}
