/* IMPORT FONT */
@font-face {
    font-family: 'furore';
    src: url('furore-webfont.woff2') format('woff2'),
         url('furore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1 {
    font-family: "furore", sans-serif;
}
p {
  font-family: "Lato", sans-serif;
}
