@font-face {
    font-family: 'furoreregular';
    src: url('furore-webfont.woff2') format('woff2'),
         url('furore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}